* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

body {
	overscroll-behavior: none;
	background-color: #212121;
}
::-webkit-scrollbar {
	display: none;
}

.wrapper {
	position: fixed;
	top: 25%;
	left: 2.5%;
	width: 95%;
	height: 400px;                /*TODO: YOU CAN CHANGE THE HEIGHT OF THE IMAGES {NOT RECOMMENDED}*/
	overflow: hidden;
	border: 1px solid #212121;
}
.slider {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 4500px;      /*TODO: CHANGE WIDTH ACCORDING TO YOUR IMAGES IF NEW IMAGES ADDED*/
	display: flex;
	will-change: transform;
	background-color: #212121;
}
.item {
	position: relative;
	flex: 1;
	overflow: hidden;
	filter: grayscale(70%);   /*TODO: CHANGE GRAYSCALE ACCORDING TO YOUR IMAGES IF NEEDED*/
}

.imgDiv {
	position: relative;
	left: 1%;
	top: 2.5%;
	width: 95%;
	height: 95%;
	background-size: cover;
	background-position: center;
}
